body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Grouping selector */
h1, h2 {
    color: #fa0505;
}

/* Judul */
h1 {
    text-align: center;
    color: rgb(0, 0, 255);
}

/* Descendant selector */
.menu p {
    font-size: 16px;
}

.menu {
    width: 400px;
    margin:  325px;
    background-color: rgba(240, 236, 236, 0.938);
    padding: 20px;
    border: 1px solid #0d5ae7;
    box-shadow:0 20px 40px red;
}

.item {
    padding: 5px;
    border-bottom: 1px solid #ff0505;
}

/* Tombol */
button {
    background-color: #09f11c;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

/* Pseudo class hover */
button:hover {
    background-color: #333333;
}

/* Keranjang */
#keranjang {
    background-color: #eeeeee;
    padding: 10px;
}

/* Tombol checkout */
.checkout {
    background-color: rgb(0, 255, 34);
    width: 100%;
    font-size: 16px;
}
/* Tombol batal Checkout */
.batal {
    background-color: red;
    width: 100%;
    margin-top: 10px;
}

.batal:hover {
    background-color: #990000;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 80%;
    text-align: center;

}